<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="libra.registry.provider.common.xp">
      <service
            entryPoint="libra.registry.specs.provider.implem4j.SimpleService"
            id="contribSimpleSample"
            interface="libra.itf.SimpleSample"/>
   </extension>
</plugin>
